* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Montserrat";
}

input, textarea, button {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background-color: #12173f;
    width: 1920px;
}

.table1{
    display: table;
    width: 1000px;
    margin-left: 200px;

}
.DataTime, .calculator1, .calculator2{
    display: table-cell;
    width: 33.3333%;
    vertical-align: middle;
    margin-left: 50px;
}

header .DataTime .time {
    font-size: 36px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;

}
.DataTime .data {
    font-size: 15px;
    line-height: 14px;
    color: #8f9ac8;
    text-align: left;

}

.calculator1 span:not(.icon-calculator1) {
    font-size: 15px;
    line-height: 24px;
    color: #8f9ac8;
    text-align: left;

}

.calculator2 span:not(.icon-calculator2) {
    font-size: 15px;
    line-height: 24px;
    color: #8f9ac8;
    text-align: left;

}
.logo{
    width: 170px;
    float: left;
}

.logo a {
    text-decoration: none;
    text-align: left
}
.logo{
    position: relative;
    margin-top: 60px;
}
.logo .logo1{
    position: absolute;
    display: block;
    top: 25px;
    left: 45px;
}


.logo .logo1 {
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    text-align:left;
    vertical-align: middle;
}

.logo .logo2 {
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    text-align: left;
}
.menu{
    width: calc(100% - 170px);
    float: right;
    padding-left: 100px;
    margin-top: 65px;
}
.menu li{
    display: inline-block;
    margin-right: 30px;
    margin-top:20px ;

}
.menu a {
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;


}
.menu .Login {
    display: inline-block;
    background-color:rgb(38, 45,97) ;
    height: 30px;
    width: 35px;
    border-radius: 100%;
    
}
.menu .Login a{
    display: block;
    text-align: center;
    margin-top: -5px;
}
.content {
    background-color: #1a204a;
    width: 1920px;
}
.back1{
    height: 2695px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center ;
}
.back2{
    height: 1745px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center ;
    margin-top: -300px;
}
.back3{
    height: 1245px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center ;
    margin-top: -500px;
}
.back4{
    height: 1319px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center ;
    margin-top: -350px;
    padding-top: 90px;
    padding-right: 0px;
    padding-left: 60px;
    padding-bottom: 60px;

}




.registration h1 {
    font-size: 90px;
    line-height: 110px;
    color: #ffffff;
    font-weight: 100;
    text-align: left;
    padding-top: 93px;

}

.registration .title {
    font-size: 110px;
    line-height: 110px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;

}

.registration p {
    font-size: 24px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 300;
    text-align: left;
}

.registration button {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;


}

.plan{
    padding-top: 140px;
}
.plan .plan1  span{
    font-size: 20px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;

}
.imgPlan1 {
    width: 260px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: left;
}
.imgPlan12 {
    width: 85px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: right;

}
.imgplan2 {
    width: 395px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;


}
.plan2 .form {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;


}
.plan2 .form input{
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 270px;
    height: 40px;
}

.plan2 .days {
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;


}

.plan2 .space {
    font-size: 17px;
    line-height: 36px;
    color: #5c65a7;
    font-weight: 100;
    text-align: center;
}

.plan2 .cost {
    font-size: 17px;
    line-height: 36px;
    color: #a83dff;
    font-weight: 700;
    text-align: center;

}

.imgplan3 {
    width: 260px;
    height: 390px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 40px 55px 30px 55px;
}

.plan3 .title {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}

.plan3 .percent {
    font-size: 70px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;

}

.plan3 .subtitle {
    font-size: 17px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.plan3 .min {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
}

.plan3 .total1 {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.plan3 .max {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

.plan3 .total2 {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.plan3 button {
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    width: 130px;
    height: 38px;
    border: none;

}

.plan .plan4 span {
    font-size: 20px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.imgPlan4 {
    width: 260px;
    height: 285px;
    background-repeat: no-repeat;
    background-position: center;
}

.imgPlan42 {
    width: 85px;
    height: 285px;
    background-repeat: no-repeat;
    background-position:right;

}
.plan1, .plan2, .plan3, .plan4{
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
    margin-bottom: 70px;
}

.statistic .cards {
    float: left;
    width: 20%;
    text-align: center;
    border-right-color: #20275a ;
    border-right-style: solid;
    border-right-width: 1px;
    margin-top: 130px;
    margin-bottom: 140px;

}

.cards .text {
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;

}

.cards .num {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;

}
.about h2 {
    font-size: 50px;
    line-height: 120px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    padding-bottom: 100px;


}
.about h2 span {
    font-size: 90px;
    line-height: 110px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;

}

.about .profit {
    font-size: 90px;
    line-height: 110px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
}

.description, .documents{
    background-color: #232853;
    height: 745px;
    width: 1170px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: 165px;
}
.description {
    float: left;
    width: 50%;

}

.description p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
}

.description .ul {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;

}

.description li {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;

}

.documents {
    float: left;
    width: 50%;
}

.documents .left, .right {
    height: 350px;
    width: 270px;
    text-decoration: none;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}


.documents .text {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
}


.documents button {
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

}

.program h2 {
    font-size: 50px;
    line-height: 110px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    padding-top: 175px;


}

.program p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 70px;
}

.program a {
    font-size: 17px;
    line-height: 30px;
    color: #00b9e1;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

}
.program img{
    padding-left: 200px;
    margin-bottom: 95px;
    margin-top: 110px;
}

.Join h3 {
    font-size: 50px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;

}

.Join button {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    width: 250px;
    height: 60px;
    margin-left: 460px;
    margin-top: 55px;
}



.advantages h2 {
    font-size: 50px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 200;
    text-align: left;
    margin-top: 500px;
    padding-top: 220px;
}

.advantages .item1 .title1 {
    font-size: 24px;
    line-height: 22px;
    color: #c279ff;
    font-weight: 300;
    text-align: left;

}
.item1{
    position: relative;
}
.item1 span[class*="icon-"]{
    display: block;
    position: absolute;
    bottom: -415px;
    left: 210px;
}
.item1 .title1, .mintext1{
    display: block;
    position: absolute;
    left: 100px;
    top: 200px;

}

.advantages .item2 .title2 {
    font-size: 24px;
    line-height: 22px;
    color: #8c69ff;
    font-weight: 300;
    text-align: right;
}

.item2{
    position: relative;
}
.item2 span[class*="icon-"]{
    display: block;
    position: absolute;
    bottom: -395px;
    left: 455px;
}
.item2 .title2, .mintext2{
    display: block;
    position: absolute;
    left: 450px;
    top: 530px;

}
.advantages .item3 .title3 {
    font-size: 24px;
    line-height: 22px;
    color: #3270fe;
    font-weight: 300;
    text-align: right;
}
.item3{
    position: relative;
}
.item3 span[class*="icon-"]{
    display: block;
    position: absolute;
    bottom: -335px;
    left: 685px;
}
.item3 .title3, .mintext3{
    display: block;
    position: absolute;
    left: 450px;
    top: 130px;

}

.advantages .item4 .title4 {
    font-size: 24px;
    line-height: 22px;
    color: #329cfe;
    font-weight: 300;
    text-align: left;
}
.item4{
    position: relative;
}
.item4 span[class*="icon-"]{
    display: block;
    position: absolute;
    bottom: -230px;
    left: 885px;
}
.item4 .title4, .mintext4{
    display: block;
    position: absolute;
    left: 910px;
    top: 355px;

}

.advantages .item5 .title5 {
    font-size: 24px;
    line-height: 22px;
    color: #00b9e1;
    font-weight: 300;
    text-align: left;
}
.item5{
    position: relative;
}
.item5 span[class*="icon-"]{
    display: block;
    position: absolute;
    bottom: -60px;
    left: 1050px;
}
.item5 .title5, .mintext5{
    display: block;
    position: absolute;
    left: 770px;
    top: -95px;

}

.advantages .item1 p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;

}

.advantages .item2 p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;
}

.advantages .item3 p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;
}

.advantages .item4 p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;
}

.advantages .item5 p {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;
}
.analysis {
    float: left;
    width: 50%;
}

.work {
    float: left;
    width: 50%;

}

.analysiswork h2 {
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 200;
    text-align: left;
    margin-top: 365px;

}

.analysiswork p {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
    width: 445px;
}

.analysiswork button {
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
    background-color: #9846db;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    width: 185px;
    height: 45px;
    margin-top: 70px;

}
.work button {
    font-size: 17px;
    line-height: 36px;
    color: #ffffff;
    background-color: #3270fe;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    width: 185px;
    height: 45px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.cooperation{
    display: table;
    width: 100%;

}
.cooperation img {
    vertical-align: middle;
    margin-right: 50px;
    margin-top: 110px;

    margin-bottom: 100px;
}

footer {
    background-color: #0d0f29;
    height: 360px;
    width: 1920px;

}

footer .logo, .menuFotter, .support, .address {
    vertical-align: top;
    display: inline-block;
    margin-right: 100px;
    margin-top: 90px;

}

.copyright span {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;

}

.menuFotter a {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;

}

footer h3 {
    font-size: 15px;
    line-height: 40px;
    color: #0387fd;
    text-align: left;
}

.support a {
    font-size: 15px;
    line-height: 40px;
    color: #9846db;
    text-align: left;

}

.support .soc {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    text-align: left;

}

footer .address span {
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    text-align: left;

}

.Registration {
    background-color: #12173f;
}

.head a {
    text-decoration: none;
    text-align: center;
}

.Registration .head .logo1 {
    font-size: 27px;
    line-height: 33px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.Registration .head .logo2 {
    font-size: 27px;
    line-height: 33px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
}

.head h1 {
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}




.personal h2 {
    font-size: 24px;
    line-height: 36px;
    color: #0188fe;
    text-align: left;
}

.personal label {
    font-size: 17px;
    line-height: 100px;
    color: #ffffff;
    text-align: left;

}



.login h2 {
    font-size: 24px;
    line-height: 36px;
    color: #9846db;
    text-align: left;

}

.login label {
    font-size: 17px;
    line-height: 100px;
    color: #ffffff;
    text-align: left;
}



.e-currency h2 {
    font-size: 24px;
    line-height: 36px;
    color: #00b9e1;
    text-align: left;

}

.footclear label {
    font-size: 17px;
    line-height: 100px;
    color: #ffffff;
    text-align: left;

}

.footclear button {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;

}

.account span {
    font-size: 15px;
    line-height: 40px;
    color: #8f9ac8;

}

.account a {
    font-size: 15px;
    line-height: 40px;
    color: #0387fd;
    text-decoration: none;
    text-transform: uppercase;
}

.topLine a {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
}

.deposit1 span {
    font-size: 30px;
    line-height: 50px;
    color: #0387fd;
    text-align: left;
    font-weight: 200;

}

.deposit1 .img1 {
    width: 1090px;
    height: 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.deposit1 .imgLeft {
    width: 80px;
    height: 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.deposit1 .imgRight {
    width: 80px;
    height: 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.accountInfo .img2 {
    width: 510px;
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accountInfo .userName {
    font-size: 15px;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
}

.accountInfo .name {
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;

}

.accountInfo a {
    font-size: 15px;
    line-height: 30px;
    color: #000325;
    text-align: center;

}

.calendar span {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;

}

.calendar .data {
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    font-weight: 700;

}

.withdraw span {
    font-size: 30px;
    line-height: 50px;
    color: #00b9e1;
    text-align: left;
    font-weight: 200;

}
.balance{
    float: left;
    width: 500px;
}
.counter{
    float: left;
    width: 665px;
}
.card{
    float: left;
    width: 50%;
}
.card span{
    display: inline-block;

}

.balance .acBalance {
    font-size: 17px;
    line-height: 50px;
    color: #ffffff;
    text-align: left;

}

.balance span {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;

}

.counter .card .rate {
    font-size: 15px;
    line-height: 24px;
    color: #a4add7;
    font-weight: 700;
    text-align: left;

}

.counter .card .title {
    font-size: 15px;
    line-height: 24px;
    color: #a4add7;
    text-align: left;

}

.yourDeposit h1 {
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;

}
.boxImg{
    float: left;
    width: 195px;

}
.infoDep{
    width: 855px;
    float: left;
}
.boxData{
    width: 25%;
    float: left;
}
.boxData span{
    display: inline-block;
}
.box{
    width: 25%;
    float: left;
}
.box span{
    display: inline-block;
}

.item .boxData .title1 {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;

}

.item .boxData .when {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;

}

.item .box .title {
    font-size: 15px;
    line-height: 24px;
    color: #a4add7;
    text-align: left;

}

.item .box .value {
    font-size: 15px;
    line-height: 24px;
    color: #a4add7;
    font-weight: 700;
    text-align: left;

}

.estimate .text {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;

}

.estimate .progress {
    font-size: 24px;
    line-height: 22px;
    color: #b65dff;
    font-weight: 700;
    text-align: left;

}

.estimate .progress2 {
    font-size: 24px;
    line-height: 22px;
    color: #b65dff;
    font-weight: 700;
    text-align: left;

}

.estimate .progress3 {
    font-size: 24px;
    line-height: 22px;
    color: #00b9e1;
    font-weight: 700;
    text-align: left;

}

.estimate .progress4 {
    font-size: 24px;
    line-height: 22px;
    color: #0387fd;
    font-weight: 700;
    text-align: left;

}

.pagination .pageNum a {
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;

}

.pagination .controls a {
    font-size: 25px;
    line-height: 58px;
    color: #ffffff;
    text-align: left;
    text-decoration: none;

}
.home a {
    font-size: 15px;
    line-height: 40px;
    color: #0387fd;
    text-align: left;
    text-decoration: none;

}

